html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
}

/* Heading */

.heading1 {
    color: hsl(186, 14%, 43%);
    font-size: 1rem;
    margin-left: 46%;
    margin-top: 3%;
    margin-bottom: 0;
}

.heading2 {
    color: hsl(186, 14%, 43%);
    font-size: 1rem;
    margin-left: 46%;
    margin-top: 0;
    margin-bottom: 3%;
}

/* Calculator Style */

.calculator {
    display: flex;
    background: white;
    border-radius: 20px;
    padding: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

/* Left Section */

.input {
    margin-right: 0;
    padding-right: 0;
    width: 68%;
}

.firstTitle {
    font-size: 0.8rem;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
}

.firstInput {
    background: hsl(185, 75%, 92%);
    border: none;
    padding: 3%;
    width: 89%;
    color: #8ba3a6;
    font-weight: 700;
    margin-top: 2%;
    transition-duration: 0.3s;
}

.firstInput:focus, .customBtn:focus {
    outline: none;
}

.firstInput:hover {
    border: 1px solid hsl(172, 67%, 45%);
}

.selectTitle {
    margin-bottom: 3%;
    font-size: 0.8rem;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
}

.selectTip {
    margin-bottom: 6%;
}

.tipBtn {
    background: hsl(183, 100%, 15%);
    color: white;
    padding: 2% 10% 2% 10%;
    border: none;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 3%;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.tipBtn:hover {
    color: hsl(183, 100%, 15%);
    background: hsl(172, 67%, 45%);
}

.five {
    padding: 2% 11.5% 2% 11.5%;
}

.customBtn {
    background: hsl(185, 75%, 92%);
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    width: 29%;
    padding: 1.5% 4% 1.5% 4%;
    font-family: 'Space Mono', monospace;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.customBtn:hover {
    border: 1px solid hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

/* Right Section */


.result {
    background: hsl(183, 100%, 15%);
    width: 80%;
    border-radius: 10px;
    padding-left: 0;
    margin-left: 0;
}

.first {
    display: flex;
}

.result {
    margin-left: 10%;
}

.secondTitle {
    margin: 26% auto auto 17%;
    color: white;
    font-size: 0.7rem;
    font-family: 'Space Mono', monospace;   
}

.person {
    margin-top: 0;
    width: 142px;
    color: #8ba3a6;
    margin-left: 17%;
    font-size: 0.6rem;
}

.amount {
    margin-left: 28%;
    color: hsl(172, 67%, 45%);
}

.reset {
   margin: 15% 5% 9% 8%;
   background: #016a6f;
   border: none;
   font-size: 1rem;
   font-weight: 700;
   padding: 2% 35% 2% 35%;
   color: hsl(183, 100%, 15%);
   font-family: 'Space Mono', monospace;
   transition-duration: 0.3s;
}

.reset:hover {
    background: hsl(172, 67%, 45%);
}

    /* Mobile Design */

@media (max-width: 1028px) {
    
    /* Heading */

    .heading1 {
        margin-top: 8%;
        margin-left: 40%;
    }
    .heading2 {
        margin-left: 40%;
        margin-bottom: 8%;
    }
    body {
        margin: 0;
    }

    /* Calculator Style */

    .calculator {
        flex-direction: column;
        width: 100%;
        height: 115%;
        margin-left: 0;
        margin-right: 0%;
        padding: 6% 0% 2% 0%;
        margin-bottom: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    /* Top (Left) Section */

    .firstTitle {
        margin-top: 5%;
        margin-left: 23%;
        font-size: 1rem;
    }
    .firstInput {
        margin-left: 23%;
        width: 99%;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 1rem;
    }
    .selectTip {
        margin-left: 22%;
        width: 111%;
    }
    .selectTitle {
        font-size: 1rem;
        margin-bottom: 5%;
    }
    .tipBtn {
        padding: 5% 15% 5% 15%;
        margin-right: 3%;
    }
    .five {
        padding: 5% 17% 5% 17%;
    }
    .customBtn {
        padding: 4.5% 3% 4.5% 3%;
        width: 42%;
    }

    /* Bottom (Right) Section */

    .result {
        margin-top: 5%;
        width: 70%;
        margin-left: 15%;
    }
    .amount {
        margin-left: -4%;
        font-size: 0.8rem;
        margin-top: 5%;
    }
    .reset {
        margin-left: 4.5%;
    }
}